@model IEnumerable<Lab1.Models.Apartments>
@{
    ViewBag.Title = "AvailableApartments";
}

<h2>AvailableApartments</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApartmentType.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApartmentType.Capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photos)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model){
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApartmentType.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApartmentType.Capacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Photos)
        </td>
        <td>
            @Html.ActionLink("Выбрать", "FinishTheRegistration", new { id = item.Id })
        </td>
    </tr>
}
</table>