@model Lab1.Models.Booking

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>

<h3>Вы действительно хотите удалить данную запись?</h3>
<div>
    <h4>Брони</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Количество гостей")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValueOfGuests)
        </dd>

        <dt>
            @Html.DisplayName("Количество детей")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValueOfKids)
        </dd>

        <dt>
            @Html.DisplayName("Дата заселения")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Settling)
        </dd>

        <dt>
            @Html.DisplayName("Дата выселения")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eviction)
        </dd>

        <dt>
            @Html.DisplayName("Номер")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apartments.Number)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
