@model Lab1.Models.Booking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ValueOfGuests)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValueOfGuests)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValueOfKids)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValueOfKids)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Settling)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Settling)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Eviction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eviction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apartments.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apartments.Number)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
