@model Lab1.Models.Booking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Серия паспорта")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.PassportSeries)
        </dd>

        <dt>
            @Html.DisplayName("Номер паспорта")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.PassportNumber)
        </dd>

        <dt>
            @Html.DisplayName("Имя")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Name)
        </dd>

        <dt>
            @Html.DisplayName("Фамилия")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Surname)
        </dd>

        <dt>
            @Html.DisplayName("Отчество")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Patronymic)
        </dd>

        <dt>
            @Html.DisplayName("Количество гостей")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValueOfGuests)
        </dd>

        <dt>
            @Html.DisplayName("Количество детей")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValueOfKids)
        </dd>

        <dt>
            @Html.DisplayName("Дата заселения")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Settling)
        </dd>

        <dt>
            @Html.DisplayName("Дата выселения")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eviction)
        </dd>

        <dt>
            @Html.DisplayName("Номер")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apartments.Number)
        </dd>

        <dt>
            @Html.DisplayName("Телефон")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Telephone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад", "Index")
</p>
