@model Lab1.Models.AditionServices

@{
    ViewBag.Title = "Details";
}

<h2>Просмотр</h2>

<div>
    <h4>Дополнительные услуги</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Стоимость")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayName("Дата оказания услуги")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfService)
        </dd>

        <dt>
            @Html.DisplayName("Тип услуги")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceTypes.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад", "Index")
</p>
