@model IEnumerable<Lab1.Models.AditionServices>

@{
    ViewBag.Title = "Index";
}

<h2>Дополнительные услуги</h2>

<p>
    @if(ViewBag.isEnabledCreateNew == true)
    {
        @Html.ActionLink("Добавить", "Create", new { LivingId = ViewBag.LivingId })
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Дата оказания услуги")
        </th>
        <th>
            @Html.DisplayName("Стоимость")
        </th>
        <th>
            @Html.DisplayName("Тип услуги")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfService)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceTypes.Type)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Id, LivingId = ViewBag.LivingId}) |
            @Html.ActionLink("Просмотреть", "Details", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
