@model IEnumerable<Lab1.Models.Apartments>
@{
    ViewBag.Title = "BookingAvailableApartments";
}

<h2>Доступные номера</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Номер")
        </th>
        <th>
            @Html.DisplayName("Цена за сутки")
        </th>
        <th>
            @Html.DisplayName("Тип апартаментов")
        </th>
        <th>
            @Html.DisplayName("Вместимость номера")
        </th>
        <th>
            @Html.DisplayName("Фотографии")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        using (Html.BeginForm("FinishTheRegistration", "RegisterNewBooking", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Number, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApartmentType.Type, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApartmentType.Capacity, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Photos, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.ActionLink("Фотографии", "Index", "Photos", new { id = ViewBag.ClientId }, new { })
                </td>
                <td>
                    @*Не понятно, почему при передачи модели через форму передаётся null*@
                    @Html.Editor("ApartmentId", new { htmlAttributes = new { @class = "form-control", @style = "display:none", @Value = item.Id } })
                    @Html.Editor("LivingId", new { htmlAttributes = new { @class = "form-control", @style = "display:none", @Value = ViewBag.LivingId } })
                    @Html.Hidden("ClientId", new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.ClientId } })
                    @Html.Hidden("Settling", new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.Settling } })
                    @Html.Hidden("Eviction", new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.Eviction } })
                    @Html.Hidden("ValueOfGuests", new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.ValueOfGuests } })
                    @Html.Hidden("ValueOfKids", new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.ValueOfKids } })
                    @*@Html.EditorFor(modelItem => item, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })*@


                    @*@Html.ActionLink("Выбрать", "FinishTheRegistration", new { apartments = item })*@
                    <input type="submit" value="Выбрать" class="btn btn-default" />
                </td>
            </tr>
        }
    }
</table>
