@model Lab1.Models.Client

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>

<h3>Вы действительно хотите удалить данное проживание?</h3>
<div>
    <h4>Клиенты</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Фамилия")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayName("Имя")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayName("Отчество")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>

        <dt>
            @Html.DisplayName("Серия паспорта")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassportSeries)
        </dd>

        <dt>
            @Html.DisplayName("Номер паспорта")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassportNumber)
        </dd>

        <dt>
            @Html.DisplayName("Дата рождения")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birgthday)
        </dd>

        <dt>
            @Html.DisplayName("Телефон")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
