@model Lab1.Models.Client

@{
    ViewBag.Title = "Details";
}

<h2>Просмотр</h2>

<div>
    <h4>Клиенты</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Фамилия")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayName("Имя")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayName("Отчество")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>

        <dt>
            @Html.DisplayName("Серия паспорта")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassportSeries)
        </dd>

        <dt>
            @Html.DisplayName("Номер паспорта")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassportNumber)
        </dd>

        <dt>
            @Html.DisplayName("Дата рождения")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birgthday)
        </dd>

        <dt>
            @Html.DisplayName("Телефон")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <td>
            @Html.ActionLink("Посмотреть проживания", "MoveToLivings", new { id = Model.Id }) |
            @Html.ActionLink("Посмотреть брони", "MoveToBookings", new { id = Model.Id }) |
        </td>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад", "Index")
</p>
